body{
   margin:  0 ; 
   padding: 0;
   background: #25252A;

}
h1{
    color: white;
}
.contaer{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background:#1f1f24 ;
    text-align: center;

}

.box{
    padding: 20px;
}
button{
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: rgb(255, 0, 68);
}
.content{
    font-size: 1rem;
    color: white ;
}