body{
    margin:  0 ; 
    padding: 0;
    background: #25252A;
 }
 h1{
     color: white;
 }
 .log_in_backgorund{
     margin: auto;
     width: 300px;
     height: 300px;
     padding: 10px;
     background:#1f1f24 ;
     text-align: center;
     border-radius: 30px;
 }

 ul{
     padding: 0ex;
 }

 input{
     border: 0;
     background: none;
     display: block;
     margin: 20px auto;
     text-align: center;
     border: 3px solid white;
    padding: 15px 10px;
    border-radius: 20px;

 }

 label{
     color: white;
     text-align: center;
 }

 button{
    height: 30px;
    width: 70px;
    text-align: center;
    background-color: rgb(255, 0, 68);
    color: white;
    border-radius: 10px;
}